.bottle1{
    width: 150%;
}
.section-news{
    background: red !important;
}
.bottle3{
    width: 50% !important;
    margin-top: 120px !important;
}
.bottle4{
    width: 100% !important;
    margin-top: 0 !important;
}
